form{
    width:100%;
    margin:100px auto;
    padding:30px;
    border:1px solid #555;
}
input{
    width:100%;
    border:1px solid #f1e1e1;
    display:block;
    padding:5px 10px;
}
button{
    border:none;
    padding:10px;
    border-radius:10px;
}